.auth-layout {
  z-index: 0;
  position: absolute;
  width: 380px;
  max-height: 650px;
  margin: 2em;
  padding: 2em;
  background: var(--section-color);
  display: flex;
  flex-flow: column nowrap;
  place-content: start;
  place-items: center;
  gap: 2em;
  border: 1.5px solid lightgray;
  border-radius: 5px;
}

.layout-heading {
  width: 100%;
  padding: 2em;
  color: var(--primary-color);
  font-size: 18px;
  place-content: center;
  place-items: center;
  text-align: center;
}

.label-link {
  font-size: 13px;
  font-weight: bold;
}

.link {
  text-decoration: none;
}

