.toggle-password-btn {
  position: absolute;
  right: 5%;
  width: 2.5em;
  height: inherit;
  border: 0;
  background: url("@/assets/show.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hidden {
  background: url("@/assets/hide.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}