.dashboard {
  position: fixed;
  inset: 0;
  overflow: hidden;
  margin-top: 85px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  place-content: start;
  place-items: center;
  gap: .5rem;
}

@media (min-width: 760px){
  .dashboard {
    flex-flow: row nowrap;
  }
  
  .dashboard > :first-child {
    width: 30%;
    height: 100%;
    place-content: start;
    padding: 2em;
  }
  
  .dashboard > :last-child{
    width: 70%;
    height: 100%;
    max-height: 100%;
  }
}