@keyframes show-options-aside {
  0%{
    transform: translateX(-100%);
    opacity: 0;
  }
  20% {
    transform: translateX(-80%);
    opacity: .2;
  }
  40% {
    transform: translateX(-60%);
    opacity: .4;
  }
  60% {
    transform: translateX(-40%);
    opacity: .6;
  }
  80% {
    transform: translateX(-20%);
    opacity: .8;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes hide-options-aside {
  0%{
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(-20%);
    opacity: .8;
  }
  40% {
    transform: translateX(-40%);
    opacity: .6;
  }
  60% {
    transform: translateX(-60%);
    opacity: .4;
  }
  80% {
    transform: translateX(-80%);
    opacity: .2;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.aside-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: opacity 
  .5s ease-out, transform .5s ease-out;
  animation-name: hide-options-aside;
  animation-duration: 1s;
  background: inherit;
  transform: scale(0);
  opacity: 0;
}

.container-visible {
  background: rgba(0,0,0,.5);
  animation-name: show-options-aside;
  animation-duration: .2s;
  transform: scale(1);
  opacity: 1;
}


.options-aside {
  width: 70%;
  height: 100vh;
  background-color: #fff;
  place-content: start;
  place-items: center;
  text-align: center;
  padding: 1em 0;
  box-shadow: 4px 6px 6px rgba(0,0,0,.1);
  opacity: 0;
  pointer-events: none;
  transform: translateX(-100%);
  transition: transform .5s ease-out, opacity .2s ease-out;
  
}

.aside-visible {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}


.hide-aside-btn {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 20px;
  top: 30px;
  border: 0;
  background: url("../assets/previous-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.options-list {
  width: 100%;
  height: 100%;
  margin: 20px 0;
  display: flex;
  place-content: start;
  place-items: center;
  flex-flow: column nowrap;
  gap: 1.5em;
  list-style: none;
  font-family: Sans-Serif;
  font-weight: bolder;
  font-size: 18px;
  overflow-y: srcoll;
}

li {
  position: relative;
  height: 2em;
  width: 60%;
  align-content: center;
  align-items: center;
  transition: all .1s ease-in;
  border-radius: 5px;
}

.option {
  text-decoration: none;
  color: #9a9a9a;
}

li:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 5px;
  height: 0;
  border-radius: 5px;
  transition: height .5s ease, top .5s ease;
}

li:hover:before{
  background-color: #009ff0;
  height: 2em;
  top: 0;
}

li:hover {
  background-color: rgba(0,0,0,.1);
}

li:hover .option {
  color: #2a2a2a;
}
