.auth-button {
  width: 100%;
  max-width: 300px;
  height: 3em;
  border: 0;
  border-radius: 5px;
  background: var(--primary-gradient);
  color: #eee;
  font-weight: bold;
  font-size: 16px;
  transition: transform .5s ease, box-shadow .1s ease;
}

.auth-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 8px rgba(0,0,0,.3);
}