.toggle-password-btn {
  position: absolute;
  right: 10px;
  width: 2em;
  height: 100%;
  border: 0;
  background: url("../assets/show.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.show-password {
  background: url("../assets/hide.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}