.toggle-password-btn {
  position: absolute;
  right: 10px;
  width: 2em;
  height: 100%;
  border: 0;
  background: url("../assets/show.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.show-password {
  background: url("../assets/hide.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.password-hint {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1.5em;
  /*border: 1px solid;*/
  place-content: center;
}

.password-hint p {
  display: inline;
  color: #2a2a2a;
  margin: 0 10px;
  font-size: 12px;
  font-weight: light;
  width: 100%;
}

p .Low, p .Medium, p .Hard {
  margin: 0;
}
p .Low {
  color: red;
}

p .Medium {
  color: orange;
}

p .Hard {
  color: green;
}