.input-fieldset {
  position: relative;
  width: 100%;
  max-width: 300px;
  height: 3em;
  margin: .5em 0;
  border: 0;
  display: flex;
  flex-flow: column nowrap;
  place-content: center;
  place-items: center;
}

.field-label {
  position: absolute;
  left: 15px;
  top: -20%;
  color: #2a2a2a;
  font-weight: bold;
  background: var(--section-color);
  padding: .1em;
  place-content: center;
  place-items: center;
  text-align: center;
}

.input-field {
  width: 100%;
  height: inherit;
  padding-left: 10px;
  border: 2.5px solid var(--light-color);
  border-radius: 5px;
  transition: all .3s ease;
}

.input-field:hover, .input-field:focus {
  outline-color: var(--primary-color);
}

.valid-field, .valid-field:hover, .valid-field:focus {
  border-color: #9c8f00;
  outline-color: #9c8f00;
  box-shadow: 0 0 8px rgba(0,255,0,.5);
}




.not-valid-field, .not-valid-field:focus {
  border-color: red;
  outline-color: red;
}

.security-level {
  position: absolute;
  top: 100%;
  left: 0;
  padding-left: 10px;
  color: #2a2a2aaa;
  font-weight: bold;
  font-size: 13px;
  display: flex;
  flex-flow: row nowrap;
  gap: .5em;
}

.Low {
  color: red;
}

.Medium {
  color: orange;
}

.Hard {
  color: green;
}