.input-fieldset {
  position: relative;
  width: 100%;
  max-width: 300px;
  height: 3em;
  border: 0;
  display: flex;
  flex-flow: column nowrap;
  place-content: center;
  place-items: center;
}

.field-label {
  position: absolute;
  left: 15px;
  top: -20%;
  color: #2a2a2a;
  font-weight: bold;
  background: var(--section-color);
  padding: .1em;
  place-content: center;
  place-items: center;
  text-align: center;
}

.input-field {
  width: 100%;
  height: inherit;
  padding-left: 10px;
  border: 2px solid var(--light-color);
  border-radius: 5px;
}

.input-field:hover, .input-field:focus {
  outline-color: var(--primary-color);
}