
.main-login {
  width: 100vw;
  height: 100vh;
  place-content: center;
  place-items: center;
}

.login-form {
  width: 95%;
  height: auto;
  padding: 2em;
  display: flex;
  flex-flow: column nowrap;
  place-content: center;
  place-items: center;
  gap: 2.5em;
  background: var(--section-color);
  z-index: 0;
}

.form-header {
  width: 100%;
  height: 50px;
  /*margin: 10px 0;*/
  font-size: 18px;
  place-content: center;
  place-items: center;
}

.form-header h2 {
  color: var(--primary-color);
  z-index: inherit;
}

.field {
  position: relative;
  border: 0;
  width: 100%;
  max-width: 350px;
  height: 3em;
  display: flex;
  flex-flow: column nowrap;
  z-index: inherit;
}

.label {
  position: absolute;
  top: -10px;
  left: 10px;
  padding: .1em;
  color: var(--primary-font-color);
  background: var(--section-color);
  font-weight: bold;
}

.form-input {
  height: inherit;
  width: 100%;
  border: 2px solid var(--light-color);
  border-radius: 5px;
  padding-left: 10px;
}

.form-input:hover, .form-input:focus {
  outline-color: var(--primary-color);
}


.button-field {
  margin: .5em 0;
  width: 100%;
  max-width: 350px;
}

.login-btn {
  width: 100%;
  height: 3em;
  font-size: 16px;
}

.other-options {
  width: 100%;
  height: 2em;
  display: flex;
  flex-flow: column nowrap;
  place-content: center;
  place-items: center;
  gap: .5em;
  font-size: 13px;
}

.login-form p {
  font-weight: bold;
}

.form-link {
  text-decoration: none;
}