.task-item {
  position: relative;
  min-height: 100%;
  width: 100%;
  max-height: 100%;
  min-height: 80px;
  height: 80px;
  max-height: 80px;
  border: 2px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-flow: row nowrap;
  place-items: center;
  justify-content: space-evenly;
  transition: transform .5s ease, box-shadow .3s ease;
}

.task-item:hover {
  transform: scale(1.01);
  box-shadow: var(--main-shadow);
}

.check-task-button {
  height: 20px;
  width: 20px;
}

.task-content-container {
  height: 90%;
  width: 60%;
  min-width: 60%;
  place-content: center;
  text-align: center;
}

.remove-task-button  {
  height: 40px;
  width: 40px;
  border: 2px solid var(--light-color);
  border-radius: 5px;
  background-color: #cacaca;
  place-content: center;
  place-items: center;
}

.remove-task-icon {
  width: 20px;
  height: 20px;
  background: url("@/assets/remove-inactive.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.remove-task-button:hover .remove-task-icon {
  background: url("@/assets/remove-active.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}