@keyframes showup {
  from {
    opacity: .5;
    transform: translateY(-30%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.task-item {
  position: relative;
  min-height: 100%;
  width: 100%;
  max-height: 100%;
  min-height: 80px;
  height: 80px;
  max-height: 80px;
  background: inherit;
  border: 2px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  place-items: center;
  justify-content: space-evenly;
  transition: transform .5s ease, box-shadow .3s ease;
  animation-name: showup;
  animation-duration: .3s;
  transform: translateY(0);
}

.task-item:hover {
  box-shadow: var(--main-shadow);
}

.task-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: .35rem;
  background: var(--primary-color);
  border-radius: 0 0 5px 5px;
  transition: width .3s ease-in-out;
}



.check-task-button {
  height: 20px;
  width: 20px;
}

.task-content-container {
  height: 90%;
  width: 60%;
  min-width: 60%;
  place-content: center;
  text-align: center;
}

.remove-task-button  {
  height: 40px;
  width: 40px;
  border: 2px solid var(--light-color);
  border-radius: 5px;
  background-color: #cacaca;
  place-content: center;
  place-items: center;
}

.remove-task-icon {
  width: 20px;
  height: 20px;
  background: url("@/assets/remove-inactive.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.remove-task-button:hover .remove-task-icon {
  background: url("@/assets/remove-active.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.removed-task {
  opacity: .5;
  transform: translateX(-100%) scale(.5);
  transition: transform .3s ease, opacity .2s ease;
}

.completed-task {
  opacity: .5;
  text-decoration: line-through;
}

.completed-task::before {
  width: 100%;
}