.task-form {
  width: 95%;
  height: 80px;
  background: var(--section-color);
  place-content: center;
  place-items: center;
  border: 0;
  border-radius: 5px;
  box-shadow: var(--main-shadow);
}

.form-wraper {
  width: 90%;
  height: 80%;
  display: flex;
  flex-flow: row nowrap;
  place-content: center;
  place-items: center;
  gap: 1rem
}

.task-fieldset {
  width: 80%;
  min-width: 200px;
  max-width: 250px;
  display: flex;
  place-content: center;
  place-items: center;
  border: 0;
}

.task-field {
  min-width: 100%;
  width: 100%;
  height: 2.5em;
  min-height: 2.5em;
  border: 2px solid var(--light-color);
  border-radius: 5px;
  padding-left: 10px;
}

.task-field:focus {
  outline-color: var(--primary-color);
}

.add-task-button {
  width: 20%;
  min-width: 50px;
  max-width: 60px;
  height: 2.5em;
  min-height: 2.5em;
  font-weight: bold;
  display: flex;
  place-content: center;
  place-items: center;
  gap: .2rem;
  border: 0;
  background: var(--primary-color);
  color: #fafafa;
  border-radius: 5px;
  transition: all .3s ease;
}

.add-task-button:hover {
  box-shadow: var(--main-shadow);
  transform: scale(1.01);
}

.add-task-button:active {
  transform: scale(.9);
}

.add-task-icon {
  width: 15px;
  height: 15px;
  background: url("@/assets/inset-add-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 760px){
  .form-wraper {
    width: 100%;
    flex-flow: column nowrap;
    place-content: start;
  }
  
  .task-fieldset, .add-task-button {
    width: 100%;
    max-width: 300px;
  }
  
}