.main-navbar {
  min-width: 100%;
  width: 100%;
  min-height: 100px;
  height: 100px;
  max-height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  display: grid;
  place-content: center;
  place-items: start;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  column-gap: .5em;
  z-index: 0;
}

.logo-container {
  grid-column: 2;
  column-span: 2;
  min-width: 100px;
  width: 100%;
  height: 100%;
  place-content: center;
  place-items: center;
  font-family: Trebuchet;
}

.options-burger {
  grid-column: 1;
  column-span: 1;
  width: 100%;
  height: 100%;
  display: flex;
  place-content: center;
  place-items: center;
}

#option-btn {
  width: 50px;
  height: 50px;
  border: 0;
  background: url("../assets/opciones.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}