.main-navbar {
  min-width: 100vw;
  width: 100vw;
  min-height: 100px;
  height: 100px;
  max-height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: "options logo logo user";
  z-index: 0;
}

.logo-container {
  grid-area: logo;
  min-width: 100px;
  width: 100%;
  height: 100%;
  background: url("../assets/branch-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  place-content: center;
  place-items: center;
  font-family: Trebuchet;
  text-align: center;
}

.options-burger {
  grid-area: options;
  width: 100%;
  height: 100%;
  display: flex;
  place-content: center;
  place-items: center;
}

#option-btn {
  width: 50px;
  height: 50px;
  border: 0;
  background: url("../assets/option-menu-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.user-options {
  grid-area: user;
  width: 100%;
  height: 100%;
  display: flex;
  place-items: center;
  place-content: center;
}

.user-btn {
  width: 40px;
  height: 40px;
  border: 0;
  background: url("../assets/not-loged-user.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}