.login {
  position: fixed;
  top: var(--nav-bar-height);
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--section-color);
  font-family: Sans-Serif;
  font-size: 16px;
  display: flex;
  flex-flow: column nowrap;
  overflow-y: scroll;
}