.signup {
  position: absolute;
  top: var(--nav-bar-height);
  left: 0;
  width: 100vw;
  height: 100vh;
  font-family: Sans-Serif;
  font-size: 16px;
  display: flex;
  flex-flow: column nowrap;
  place-content: start;
  place-items: center;
  overflow: scroll;
}

.terms-field {
  border: 0;
  display: flex;
  flex-flow: row nowrap;
  gap: .5em;
  font-size: 14px;
  font-weight: bold;
  color: var(--light-color);
}

.terms-checked {
  color: #222;
}

@media (min-width: 760px) {
  display: grid;
  
}