.home {
  width: 100vw;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-flow: column nowrap;
  place-content: start;
  place-items: center;
  padding: 80px 0 0 0;
  gap: 0;
  font-family: Sans-Serif;
  font-size: 16px;
}

.home-section {
  background-color: var(--section-color);
  color: #222;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 3em;
  display: flex;
  flex-flow: column nowrap;
  gap: 2em;
  transform: translateX(-100%);
  transition: transform 2s ease;
  
}

.home-section p, ul, ol{
  line-height: 1.5;
}

.hero {
  padding: 6em 3em;
}

.hero-actions {
  width: 100%;
  height: 2em;
  margin-top: 1em;
  display: flex;
  place-content: center;
  place-items: center;
  gap: 1em;
}

.primary, .secondary{
  min-width: 100px;
  width: 100px;
  height: 2.5em;
  place-content: center;
  text-align: center;
  text-decoration: none;
  font-weight: bolder;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 2s ease, transform .5s ease;
}

.primary {
  background: var(--primary-gradient);
  color: #eee;
}

.secondary {
  background: inherit;
  color: var(--light-color);
  border: 2px solid var(--light-color);
}

.primary:hover, .secondary:hover {
  box-shadow: var(--main-shadow);
  transform: scale(1.05);
}

.problem ul {
  width: 100%;
  height: auto;
  margin: 0 1em;
}

.benefit-cards {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  gap: .5em;
  padding: .5em;
  margin: 0 1em;
}

.card {
  width: 100%;
  height: auto;
  
}

.how-it-works ol {
  width: 100%;
  height: auto;
  margin: 0 1em;
}
.cta .primary {
  width: 100%;
}

.show {
  transform: translateX(0);
  position: relative;
  z-index: 0;
}