@keyframes show-options-aside {
  0%{
    transform: translateX(-100%);
    opacity: 0;
  }
  20% {
    transform: translateX(-80%);
    opacity: .2;
  }
  40% {
    transform: translateX(-60%);
    opacity: .4;
  }
  60% {
    transform: translateX(-40%);
    opacity: .6;
  }
  80% {
    transform: translateX(-20%);
    opacity: .8;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.aside-backdrop {
  position: fixed;
  inset: 0;
  z-index: 109;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.4);
}

.options-aside {
  position: fixed;
  inset: 0;
  width: 70%;
  height: 100vh;
  background-color: #fff;
  place-content: start;
  place-items: center;
  text-align: center;
  padding: 1em 0;
  box-shadow: 4px 6px 6px rgba(0,0,0,.1);
  opacity: 0;
  pointer-events: none;
  transform: translateX(-100%);
  transition: transform .5s ease-out, opacity .2s ease-out;
  z-index: 110;
}

.aside-visible {
  animation-name: show-options-aside;
  animation-duration: .3s;
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}


.hide-aside-btn {
  width: var(--nav-icon);
  height: var(--nav-icon);
  position: absolute;
  left: 20px;
  top: 30px;
  border: 0;
  background: url("@/assets/previous-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.options-list {
  width: 100%;
  height: 100%;
  margin: 20px 0;
  display: flex;
  place-content: start;
  place-items: center;
  flex-flow: column nowrap;
  gap: 1.5em;
  list-style: none;
  font-family: Sans-Serif;
  font-weight: bolder;
  font-size: 18px;
  overflow-y: srcoll;
}


.option {
  text-decoration: none;
  color: #9a9a9a;
}



.current-page:after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: #fff;
}

.current-page:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: var(--primary-gradient);
  opacity: .5;
  width: 100%;
  height: 2em;
  border-radius: 5px;
  z-index: -1;
}