.user-aside {
  position: fixed;
  top: 75px;
  right: 10px;
  width: 0;
  height: 0;
  pointer-events: none;
  visibility: hidden;
  z-index: 110;
  display: flex;
  flex-flow: column nowrap;
  place-content: center;
  place-items: center;
  gap: 1rem;
  background: #fff;
  box-shadow: var(--main-shadow);
  transition: all .3s ease;
}

.user-aside-btn {
  border: 0;
  height: 2em;
  width: 80%;
  background: inherit;
  color: var(--light-color);
  font-size: 18px;
  font-weight: bolder;
  font-family: Sans-Serif;
}

.user-aside-visible {
  width: 150px;
  height: 200px;
  visibility: visible;
  pointer-events: auto;
}

.user-aside-backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 109;
}