.user-aside {
  position: fixed;
  top: 0;
  right: 12vw;
  width: 200px;
  height: 150px;
  opacity: 0;
  padding: 2rem;
  border: 1.5px solid #ccc;
  border-radius: 10px 0 10px 10px;
  pointer-events: none;
  display: flex;
  flex-flow: column nowrap;
  place-content: start;
  place-items: center;
  z-index: 110;
  gap: 1rem;
  background: #fafafa;
  transition: top .3s ease, opacity .2s ease;
}


.user-aside-btn {
  border: 0;
  height: 2em;
  width: 80%;
  background: inherit;
  color: var(--light-color);
  font-size: 18px;
  font-weight: bolder;
  font-family: Sans-Serif;
  text-align: center;
  text-decoration: none;
}

.user-aside-visible {
  top: calc((var(--nav-bar-height) / 2) + var(--nav-icon) / 2);
  opacity: 1;
  box-shadow: 0 0 8px rgba(0,0,0,.2);
  pointer-events: auto;
}

.user-aside-backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 109;
}
