:root {
  /* Colors */
  --primary-color: #009ff0;
  --secondary-color: #fa00fa;
  --light-color: #9a9a9a;
  --primary-gradient: linear-gradient(45deg, var(--primary-color),
  var(--secondary-color));
  --section-color: #ffffffef;
  --primary-font-color: #222;
  
  /* Shading */
  --main-shadow: 0 0 8px rgba(0,0,0,.2);
  
  /* Sizes */
  --nav-bar-height: 80px;
  --nav-icon: 25px;
}

#root {
  width: 100%;
  height: 100%;
  place-items: center;
  place-content: center;
}

.item {
  position: relative;
  height: 2em;
  width: 60%;
  align-content: center;
  align-items: center;
  transition: all .1s ease-in;
  border-radius: 5px;
}

.item:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 5px;
  height: 0;
  border-radius: 5px;
  transition: height .5s ease, top .5s ease;
}

.item:hover:before{
  background-color: var(--primary-color);
  height: 2em;
  top: 0;
}

.item:hover {
  background-color: rgba(0,0,0,.1);
  color: #2a2a2a;
}

.item:hover .option{
  color: #2a2a2a;
}

.item .current-page {
  color: #fff;
}

