.technologies ul {
  width: 100%;
  height: 80%;
  display: flex;
  flex-flow: row wrap;
  place-content: center;
  list-style: none;
  gap: .5rem;
}

.technologies li {
  width: auto;
  height: auto;
  padding: .5rem;
  border: 1.5px solid var(--primary-color);
  border-radius: 20px;
  color: var(--primary-color);
  font-weight: bold;
}

@media (min-width: 760px) {
  .about {
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "what-is what-is"
                         "why-builted-it technologies"
                         "about-me about-me";
  }
  
  
  .about .home-section {
    height: 100%;
  }
  
  .what-is {
    grid-area: what-is;
  }
  
  .why-builted-it {
    grid-area: why-builted-it;
  }
  
  .about-me {
    grid-area: about-me;
  }
  
  .technologies {
    grid-area: technologies;
  }
}